/* Your custom styles */

.nav-link.active {
  font-weight: 600;
}

.settingsPopup .ui-dialog-titlebar {
  display: none
}

.qrPopup .ui-dialog-titlebar {
  display: none;
}

a.profile-pic {
  /* width:100%; */
}

.profile-pic {
  height: 150px;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
}

.profile-pic:hover {
  background-color: rgba(0, 0, 0, .5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}

.profile-pic span {
  display: inline-block;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}
